<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!-- ForegroundServiceを使用するためのパーミッション -->
    <!--
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_home"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Simulator"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:clearTaskOnLaunch="true"
            android:exported="true">

        </activity>
        <service android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
        <!-- BeaconServiceをForegroundServiceとして起動するための設定 -->
        <!--
        <service android:name="org.altbeacon.beacon.service.BeaconService"
            tools:node="replace"
            android:foregroundServiceType="location">
            <meta-data android:name="longScanForcingEnabled" android:value="true"/>
        </service>
        -->
    </application>

</manifest>